*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    overflow: auto;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-weight: 400;
}

.container {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}
div{
    display: block;
}
.inner-wrap{
    width:1100px;
    margin: 0 auto;
    height: 42px;
}
p{
    display: block;
    margin-block-start: 1em;
    
}
