.wrap{
    overflow: auto; 
    letter-spacing: 0; 
    line-height: 1.5; 
    font-size: 15px; 
    color: #444; 
    font-weight: 400; 
}
.ir{ 
    font-size: 0; 
    font-weight: 0; 
    display:none;
}
.on{
    background-color: #f8f8fa;
    border: 1px 1px 0 1px;
    border-style: solid;
    border-color: #503396;
    color: #503396;
}
