.page-util  {
    width: 1100px;
    margin: 0 auto;
}
.page-util .inner-wrap{
    overflow: hidden;
    height: 100%;
    line-height: 46px;
    background-color: #f5f5f5;
}
.page-util .inner-wrap .home{
    display: inline-block;
    border-image-repeat: no-repeat;
}
.page-util .inner-wrap>span{
    display: inline-block;
    margin: 0 0 0 10px;
    color: #666;
}
.page-util .inner-wrap a{
    text-decoration: none;
    display: inline-block;
    margin: 0 0 0 15px;
    color: #666;
}
.page-util .inner-wrap a img{
    display: inline-block;
}
.movie-search{
    float: right;
    width:230px;
    height:36px;
    position: relative;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
}
.movie-search>input{
    position:absolute;
    top:0px;
    left:0px;
    width:177px;
    padding: 0 10px;
    margin: 0 3px 0 0;
    height:36px;
    border: none;
}
.movie-search>button{
    position:absolute;
    display: block;
    top:0px;
    right:0px;
    width:30px;
    padding: 0;
    margin: 0px;
    /* height:30px; */
    line-height: 36px;
    height: 100%;
    border: 0;
    background: url("../etc/btn-search-input.png") no-repeat 6px 6px;
}
.topSort{
    padding: 0 0 40px 0;
}
.topSort .sortTab{
    display: inline-block;
}



