.list {
    width: 1100px;
    background-color: antiquewhite;
}
.list ol li {
    width: 230px;
    height: 450px;
    margin: 0 60px 0 0;
    float: left;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.list ol li:last-child {
    margin: 0px;
}

.list .movieRank {
    position: absolute;
    left: 5px;
    top: 5px;
    color: white;
}

.list .movieScreentype {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
}

.list .movieAgeTtle>p {
    float: left;
    line-height: 23px;
    margin: 15px 0 0 0;
}

.list .movieRateDate {
    clear: both;
}

.list .movieAge-15 {
    background-image: url("/etc/movieAge-15.png");
    background-size: 23px 23px;
    display: inline-block;
    width: 23px;
    height: 23px;
}

.list .movieRate {
    width: 87.578px;
    line-height: 22.5px;
    margin: 0 15px 0 0;
    padding: 0;
}

.list .movieDate {
    width: 122.375px;
}

.list .movieBtn {
    width: 230px;
    height: 36px;
    margin: 0 0 0 3px;
    box-sizing: border-box;
}

.list .movieHeart {
    float: left;
    width: 60px;
    height: 34px;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
}
.list .movieHeart-btn{
    width: 10px;
}

.list .movieBooktype-1 {
    width: 153px;
    margin: 0px;
    height: 34px;
}

.list .movieBooktype-2 {
    width: 74px;
    margin-left: 5px;
    height: 34px;
}

.list .movieScreeninfo {
    text-align: center;
}

.list .moviePoster {
    width: 230px;
    height: 331px;
}
.list .movieScreen{
    width: 190px;
    height: 150px;
    position: absolute;
    left: 20px;
    top: 20px;
    overflow: hidden;
}
.list .poster-hr{
    position: absolute;
    width: 190px;
    top:250px;
    left: 20px;
    border: 1px solid #ebebeb;
}
.list .movieScore{
    position: absolute;
    /* color: #ebebeb; */
    color: black;
    top: 300px;
    left: 110px;
    text-align: center;
    font-size: large;
}